$parameters: 0.5 1 1.5;

$parametersUnits: (
  "0": 0,
  "1": 0.125,
  "2": 0.25,
  "3": 0.375,
);
$unit: rem;

$directions: (
  l: left,
  r: right,
  t: top,
  b: bottom,
);

$colorsUnits: (
  "red-100": #000000,
);
